configure
Makefile.in
src/config.h.in
src/config.h.in~
src/Makefile.in
debian.upstream/Makefile.in
missing
ltmain.sh
install-sh
depcomp
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
Makefile
config.log
config.status
Makefile
libtool
src/.deps
src/.libs
src/config.h
*.lo
src/stamp-*
